
*{
  margin: 0%;
  padding: 0%;
}


/* banner styles */

body{
  width: 1530px;

  
  margin: 0 auto;
}
main{
  width: 1320px;
  margin: 0 auto;
}
.title{
color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 32px;
text-align: center;
}

.sub-title{
  color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
text-align: center;


}
.banner-title{
width: 632px;
height: 246px;
padding: 177px 344px 177px 344px;
 
  
}
.banner{
  width: 1320px;
  height: 600px;

border-radius: 16px;
background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);
display: flex;
justify-content: center;
align-items: center;

}

/* ALL CATEGORIES styles */

.categories{

display: flex;
justify-content: center;
align-items: center;


}
.catagories-title{
  margin: 0 auto;
  width: 802px;
height: 806px;

}

.sub-catagories{
  text-align: center;
  color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
line-height: 107px;
letter-spacing: 0%;

}
.para-title{
 color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: center;

}
.all-catagories{
  color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
}

.margin{
  margin-top:120px;
}

/* Welcome to midnight party styles */
.midnight{
border-radius: 16px;

background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
}
.midnight-section{
display: flex;
gap: 94px;

}
.midnight-image{

width: 349px;
height: 464px;
padding: 67px 108px 68px 0px;


}
.midnight-container{
  padding: 126px 0px 0px 126px ;
}
.title-midnight{
color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
width: 642px;
height: 176px;


}

  .midnight-para{
color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
width: 697px;
height: 60px;
margin-bottom: 48px;



  }
a{
text-decoration: none;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
padding: 0px 0 px 142px 158px;

}

/* title information */

.title-description {
  text-align: center;
justify-content: center;
align-items: center;
margin: 0 auto;
font-family: Inter;
font-size: 32px;
font-weight: 600;

height: 272px;


}
.information{
  border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
padding: 100px 300px 110px 300px;
line-height: 100px;

}

h1 span{
  color: red;
}

button{
  border: none;
width: 167px;
height: 56px;
padding: 16px 32px 16px 32px;
border-radius: 8px;
background: rgb(255, 0, 0);
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;


}


/* new best offer */
.best-offer-container{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.image-border{
  border-radius: 100%;
width: 463px;
height: 463px;
box-sizing: border-box;
border: 15px solid rgb(255, 0, 0) ;
background-image: url(../images/Ellipse\ 1.png);
background-repeat: no-repeat;
background-position: center;


}
.best-offer-title{
  width: 393px;
height: 255px;
line-height: 22px;
padding-top: 104px;
}
.best-offer-title p{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.best-offer-title h1{
  color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0%;
}
.best-offer-title span{
  color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;;
text-align: left;
}

.year {
width: 300px;
padding-right: 50px;
line-height: 20px;
padding-top: 112px;
}

.year h1{
  color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
text-align: left;
}
.year p{
  color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
.year img{
  margin-top: 50px;
}

/* Holidays Sale styles */

.function{
  text-align: center;
width: 1068px;
align-items: center;
margin: 0 auto;

}

.function h5{
  color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
text-align: center;

}
.function h1{
  font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 91px;
letter-spacing: 0%;
text-align: center;
}
.function p{
  color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 50px;
}
.holiday-offer{
display: flex;
border-radius: 16px 0px 16px 16px;
background-image: url(../images/Rectangle\ 2.png);
background-repeat: no-repeat;
background-position:bottom;
;
  
}
.image-bg{
width: 796px;
height: 662px;
}
.disount{
  width: 796.46px;
height: 662.07px;
padding-right: 100px;
}

/* Our Awesome Portfolio styles */

.Portfolio{
 width: 1320px;
height: 1163px;
}
.best-gifts{
  width: 896px;
}

.best-gifts h6{
  color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.best-gifts h1{
  color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0%;
text-align: left;

}

.best-gifts p{
  color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 25px;
}

.box-image{
width: 424px;
height: 450px;
border-radius: 16px;


}

.image-box{
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

/* Subscribe Newsletter styles */
.newsletter{
  height: 616px;
 border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
 
}

.news-image img{
  width: 150px;
height: 150px;
margin-top: 86px;
}
.image-news{
text-align: center;
margin: 0 auto;
height:336px ;
width: 896;
}
.news-title h1{
color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin: 40px 0px 22px 0px;
letter-spacing: 0%;


}
.news-title p{
  color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
width: 896px;
margin: 0 auto;
margin-bottom: 48px;

}

.subscribe{
  display: flex;
width: 648px;
align-items: center;
height: 72px;
border-radius: 50px;
background: rgb(255, 255, 255);
margin: 0 auto;


}
.subscribe span{
text-align: left;
margin-right: 265px;
color: rgba(7, 2, 17, 0.3);
font-family: Inter;
font-size: 18px;
font-weight: 400;
text-align: center;
padding-left: 50px;
}
.subscribe-button{
  align-items: end;
  border-radius: 0px 50px 50px 0px;
  height: 72px;
  width: 210px;
  

}

/* styles the footer section */

footer{
  width: 1530px;
  height: 700px;
  background: rgb(7, 2, 17);
  margin: 0 auto;


}

.float{
width: 1320px;
height: 80px;



  

}
.address h1{
  float: left;
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 26px;
font-weight: 500;
text-align: center;
margin: 120px 240px 0px 140px;
width: 375px;
line-height: 40px;
letter-spacing: 0%;
text-align: left;


}
.image-icon{
  float: right;
 
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
margin-top: 120px;

}

.social-icon{
  display: flex;
  justify-content: center;
  text-align: center;
margin: 0 auto;
width: 1320px;
padding-left: 100px;
align-items: center;
margin-top: 200px;
margin-bottom: 200px;
align-content: space-between;
}

.copyright{
  width: 1320px;
  color: brown;
  margin: 0 auto;

  
  
}
.div1 {
  float: left;
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}

.div2{
  float: right;
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 120px;

}
